ul.a {
    list-style-type: circle;
    color: green;
}
  
ul.b {
    list-style-type: square;
    color: blue;
}
  
ol.c {
    list-style-type: upper-roman;
    color: red;
}
  
ol.d {
    list-style-type: lower-alpha;
    color: purple;
}